.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    border: 1px solid blue;
    
}

.logo {
    width: 200px;
    
}

/* to push nav items from left to rigth  use it*/


.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin:0; /* Remove default margin */
    padding:10px 20px; /* Remove default padding */
    font-size: 23px;
   
    font-family: cursive;
    font-display: 4px;
  
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}


